<div class="seat-page">


  <div class="seat-container">


    @if(loading()) {


      <div class="loading-text">
        Loading seats...
      </div>


    }


    @else if(error()) {


      <div class="error-text">
        {{ error() }}
      </div>


    }


    @else {


      <div class="seat-header">


        <h2>
          Select Seats
        </h2>



        <div class="seat-info">

          Available:
          {{ availableCount() }}

          |

          Selected:
          {{ state.seatCount() }}

        </div>


      </div>





      <div class="seat-grid">


        @for(
          seat of displaySeats();
          track seat.seatId
        )
        {


          <app-seat-button


            [seat]="seat"


            [selected]="
              selectedSeatIds()
              .has(seat.seatId)
            "


            (select)="toggleSeat(seat)"


          >

          </app-seat-button>


        }


      </div>






      <div class="actions">


        <button

          type="button"

          (click)="back()"

        >

          Back

        </button>





        <button

          type="button"

          (click)="continue()"

          [disabled]="
            state.seatCount() === 0
          "

        >

          Continue

        </button>


      </div>



    }


  </div>


</div>