<div class="register-page">


  <!-- LEFT SIDE -->

  <section class="brand-section">


    <div class="brand-logo">
      P
    </div>


    <h1 class="brand-name">
      ParkFlow
    </h1>


    <div class="hero-content">


      <span class="tag">
        CREATE YOUR ACCESS
      </span>


      <h2>
        Your next event
        <br>
        <span>
          starts here.
        </span>
      </h2>


      <p>
        Create a customer account once, then move through
        events, seats, parking, checkout and payments
        without repeated sign-ins.
      </p>



      <div class="features">


        <div>
          ⚡ Responsive Angular 19
        </div>


        <div>
          🛡 Secure session
        </div>


        <div>
          📅 Fast booking flow
        </div>


      </div>


    </div>


  </section>




  <!-- REGISTER FORM -->


  <section class="form-section">


    <div class="register-card">


      <span class="tag">
        NEW CUSTOMER
      </span>



      <h2>
        Create account
      </h2>



      <p>
        All fields are validated before the request is sent.
      </p>



      <form
        [formGroup]="form"
        (ngSubmit)="submit()">



        <div class="row">


          <div>

            <label>
              Full name
            </label>


            <input
              type="text"
              formControlName="fullName"
              placeholder="Your name">


          </div>




          <div>


            <label>
              Phone
            </label>


            <input
              type="text"
              formControlName="phone"
              placeholder="077 123 4567">


          </div>


        </div>






        <label>
          Email
        </label>


        <input
          type="email"
          formControlName="email"
          placeholder="you@example.com">







        <div class="row">


          <div>

            <label>
              Password
            </label>


            <input
              type="password"
              formControlName="password"
              placeholder="Password">


          </div>




          <div>


            <label>
              Confirm password
            </label>


            <input
              type="password"
              formControlName="confirmPassword"
              placeholder="Confirm password">


          </div>



        </div>





        @if(error()) {

          <div class="error">
            {{error()}}
          </div>

        }



        @if(success()) {

          <div class="success">
            {{success()}}
          </div>

        }






        <button
          type="submit"
          [disabled]="busy()">



          @if(busy()) {

            Creating...

          }
          @else {

            Create customer account →

          }


        </button>





        <div class="signin">


          Already registered?


          <a routerLink="/login">
            Sign in
          </a>


        </div>



      </form>



    </div>



  </section>



</div>